padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    font-family:  Tahoma, Verdana, sans-serif;
    background: #000;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container{
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container{
      width: 1470px;

    }
  }

  /* **** */
  .container .head{
display: flex;
padding: 10px 0;
margin: 20px 0;
align-items: center;
justify-content: space-between;
  }
.container .head .img img{
   width: 50px;
      }
  .container .head .links{
    display: flex;
 justi…
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    font-family:  Tahoma, Verdana, sans-serif;
    background: #000;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container{
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container{
      width: 1470px;

    }
  }

  /* **** */
  .container .head{
display: flex;
padding: 10px 0;
margin: 20px 0;
align-items: center;
justify-content: space-between;
  }
.container .head .img img{
   width: 50px;
      }
  .container .head .links{
    display: flex;…